<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

    <body>

                <header class="main-header">
                    <nav class="main-header_nav">
                        <ul class="main-header_listItem">
                            <li class="main-header_Item"><a class="active" href="/">Home</a></li>
                            <li class="main-header_Item"><a href="/admin/add-book">Add Books</a></li>
                        </ul>
                    </nav>
                </header>
                <main>
                    <h1>My Books</h1>
                    <p>List of all the books....</p>
                </main>
    </body>
</html>